body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
